Source: opx-sdi-api
Section: net
Priority: optional
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Build-Depends: debhelper (>= 9), dh-autoreconf,libopx-common-dev
Standards-Version: 3.9.3

Package: libopx-sdi-api-dev
Architecture: all
Depends: ${misc:Depends}
Description: This package contains SDI (System Device Interface) public api.API that encapsuates fans, powersupplies, and pluggable modules.

